extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="",class="img-fluid")
            .col-md-7
                h1=pagina
                
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium tincidunt leo, quis scelerisque purus cursus sit amet. Nullam fringilla ligula sit amet nisi convallis, at vestibulum justo viverra. Aenean fermentum ligula a urna cursus, eget sagittis dolor elementum. Vestibulum ut risus vel nulla dapibus vulputate. In pharetra in massa non dignissim. Donec libero est, auctor non sapien a, venenatis viverra ipsum. Curabitur non tortor commodo, sollicitudin turpis eget, vehicula 

                p accumsan ex turpis, luctus luctus lacus lacinia congue. Fusce condimentum posuere commodo. In luctus diam vitae ante pretium luctus. Aenean tincidunt neque et arcu fringilla venenatis. Fusce cursus laoreet nisi et faucibus. Donec orci dui, viverra a fringilla nec, aliquet ac enim. Suspendisse potenti. Aliquam nunc tellus, molestie vel dictum quis, venenatis malesuada odio. Sed 

                p nec auctor erat. Proin tincidunt dolor et imperdiet consequat. Aenean tempus porta ipsum. Suspendisse tempor congue porttitor. Curabitur ullamcorper ex at bibendum ultrices. Vivamus nibh lacus, viverra quis metus eu, congue feugiat arcu. Curabitur vitae molestie dolor. Integer ultrices vel tortor at vulputate.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Proin tincidunt dolor et imperdiet consequat. Aenean tempus porta ipsum. Suspendisse tempor congue porttitor. Curabitur ullamcorper ex at bibendum ultrices. Vivamus nibh lacus, viverra quis metus eu, congue feugiat arcu. Curabitur vitae molestie dolor. Integer ultrices vel tortor at vulputate. 

                .col-md-4
                    img(src="img/icono_destinos.svg" alt="",class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Proin tincidunt dolor et imperdiet consequat. Aenean tempus porta ipsum. Suspendisse tempor congue porttitor. Curabitur ullamcorper ex at bibendum ultrices. Vivamus nibh lacus, viverra quis metus eu, congue feugiat arcu. Curabitur vitae molestie dolor. Integer ultrices vel tortor at vulputate.

                .col-md-4
                    img(src="img/icono_precios.svg" alt="",class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Proin tincidunt dolor et imperdiet consequat. Aenean tempus porta ipsum. Suspendisse tempor congue porttitor. Curabitur ullamcorper ex at bibendum ultrices. Vivamus nibh lacus, viverra quis metus eu, congue feugiat arcu. Curabitur vitae molestie dolor. Integer ultrices vel tortor at vulputate.    